<section class="col-m-12 main-content-section"><!--start of main content section-->
                <h2 class="col-md-12 give-boldFamily give-darkRed-c">Our Vision</h2>
                <p>The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library\
                , where the high-definition, near-real time video image of the sun will be exhibited through March 13.The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library, where the high-definition, near-real time video image of the sun will be exhibited through March 13.</p>
              
                <h2 class="col-md-12 give-boldFamily give-darkRed-c">Our Mission</h2>
                <p>The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library\
                , where the high-definition, near-real time video image of the sun will be exhibited through March 13.The NCSU Libraries and NC State College of Sciences will host a talk by scientists from the Smithsonian Astrophysical Observatory (SAO) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at the Commons Wall in the James B. Hunt Jr. Library, where the high-definition, near-real time video image of the sun will be exhibited through March 13.</p>

                <h2 class="col-md-12 give-boldFamily give-darkRed-c">Contact Us</h2>
                <div class="col-md-12 map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d844.4912976216501!2d47.974819859680295!3d29.371838037419856!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf84e9f2bfa193%3A0xa32b700108a07831!2sExpropriation+for+Public+Benifit+Department!5e0!3m2!1sen!2seg!4v1461508561574" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                  <img src="images/qr.svg" class="col-md-12 qr" alt="">
                </div>
                <div class="row clearfix">
                  <div class="col-md-6 contact-list">
                      <h2 class="col-md-12 give-boldFamily give-darkRed-c">Contact Information</h2>
                      <ul class="col-md-12 contact-list-inner">
                        <li>
                          <p class="fa fa-location-arrow give-red-c"></p>
                          <p>O) about the breathtaking Dynamic Sun solar feed project on Thursday, February 11 at 7:00 p.m. at t</p>
                        </li>
                        <li>
                          <p class="fa fa-phone give-red-c"></p>
                          <div>
                            <p>(02)  0100 56 23653</p>
                            <p>(02)  0100 56 23653</p>
                          </div>
                        </li>
                        <li>
                          <p class="fa fa-envelope give-red-c"></p>
                          <p>company@info.com</p>
                        </li>
                      </ul>
                  </div>

                   <div class="col-md-6 contact-list">
                      <h2 class="col-md-12 give-boldFamily give-darkRed-c">Newsletter</h2>
                      <form action="" class="col-md-12 primary-form">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                          <input type="submit" class="btn give-red-bg" value="Submit">
                        </div>
                      </form>
                  </div>
                </div>
             
            </section>