<center><span style="font-family: 'times new roman',times;font-size: large;color: #800000"><u> Header </u></span>
<br />

<img src="http://www.arab-afli.org/shared/no_image.jpg" style="padding:10px;width:150px !important">
</center>
<br />

text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text